- content_for :title do
  = t('.title', song_title: @original_song.title_ja)
= render 'layouts/hero', title: t('.title', song_title: @original_song.title_ja), subtitle: @original_song.original_title_ja
.columns
  .column.is-11
    %table.table.is-striped.is-hoverable
      %thead
        %tr
          %th= t('.circle_name')
          %th= t('.song_title')
          %th= t('.discography_title')
          %th= t('.vocalists')
          %th= t('.composers')
          %th= t('.arrangers')
          %th= t('.rearrangers')
          %th= t('.lyricists')
          %th= t('.original_songs')
          %th= t('.event_title')
          %th= t('.release_date')
      %tbody
        - @original_song.songs.each do |song|
          %tr
            %td= song&.circle&.name_ja
            %td= song&.title_ja
            %td= song&.discography&.title_ja
            %td= safe_join song&.vocalists&.map{|v| v.name_ja }, '<br />'.html_safe
            %td= safe_join(song&.composers&.map{|c| c.name_ja }, '<br />'.html_safe).presence || safe_join(song&.original_songs&.map{|os| os.composer }.uniq, '<br />'.html_safe)
            %td= safe_join song&.arrangers&.map{|a| a.name_ja }, '<br />'.html_safe
            %td= safe_join song&.rearrangers&.map{|ra| ra.name_ja }, '<br />'.html_safe
            %td= safe_join song&.lyricists&.map{|l| l.name_ja }, '<br />'.html_safe
            %td= safe_join song&.original_songs&.map{|os| os.title_ja }, '<br />'.html_safe
            %td= song&.event&.title_ja
            %td= song&.discography&.release_date
