.columns.is-mobile.is-centered
  .column.is-two-thirds
    %p.is-size-3.has-text-centered= t('.welcome_message')
    %p.is-size-5.has-text-centered= t('.start_message')
    %hr
    .columns.is-mobile.is-centered
      .column
        = link_to auth_at_provider_path(provider: :twitter), class: 'button is-medium is-fullwidth is-info' do
          %span.icon.is-medium
            %i.fa.fa-twitter
          %span
            = t('common.signup_with_twitter')
        .is-divider
          = link_to t('common.login'), login_path
      .is-divider-vertical{ data: { content: 'OR' } }
      .column
        = render 'form'
