- content_for :title do
  = t('.title', name: @vocalist.name_ja)
= render 'layouts/hero', title: @vocalist.name_ja, subtitle: t('.subtitle', category: t("category.#{@vocalist.category}"))

.columns
  .column.is-11
    .tabs
      %ul
        %li.is-active
          = link_to t('common.songs'), vocalist_path(name: @vocalist.name_ja)
        %li
          = link_to t('common.statistics'), vocalist_statistics_path(vocalist_name: @vocalist.name_ja)

    = render 'shared/songs', songs: @vocalist.songs
