- content_for :title do
  = t('.title', year: @year)
= render 'layouts/hero', title: t('.year', year: @year), subtitle: t('.subtitle')
.columns
  .column.is-11
    .panel
      %header.panel-heading
        %p
          = t('.year', year: @year)
      - @events.each do |event|
        = link_to event.event_url(@year), class: 'panel-block' do
          %span.panel-icon
            %i.fa.fa-angle-right
          = event&.display_title
