- content_for :title do
  = t('.title')
.columns
  .column.is-11
    .hero
      .hero-body
        .level
          .level-left
            .level-item
              %h1.title
                = t('.title')
          .level-right
            .level-item
              - if logged_in?
                = link_to events_new_path, class: 'button is-primary' do
                  = t('common.add')
    .tabs
      %ul
        - %i(event_series date).each do |menu|
          %li{ "v-bind:class": "menu === '#{menu}' ? 'is-active':''","v-on:click": "setMenu('#{menu}')" }
            %a= t(".#{menu}")

    %span{ "v-if": "menu === 'event_series'" }
      .panel
        %header.panel-heading
          %p
            = t('.series_title')
        - @event_series.each do |series|
          = link_to events_series_path(series_title: series&.title_ja&.tr("/", "ï¼")), class: 'panel-block' do
            %span.panel-icon
              %i.fa.fa-angle-right
            = series.title_ja

    %span{ "v-if": "menu === 'date'" }
      .panel
        %header.panel-heading
          %p
            = t('.year')
        - @event_years.each do |event_year|
          = link_to events_date_path(year: event_year), class: 'panel-block' do
            %span.panel-icon
              %i.fa.fa-angle-right
            = event_year

= content_for :javascript do
  = javascript_pack_tag 'events/index'
