- content_for :title do
  = t('.title', title: @event&.title)
= render 'layouts/hero', title: @event&.title, subtitle: t('.subtitle')

.tabs
  %ul
    %li.is-active
      = link_to t('common.discographies')
    %li
      = link_to t('common.songs'), '#'
    %li
      = link_to t('common.statistics'), '#'

.columns
  .column.is-11
    .columns.is-multiline
      - @event&.discographies&.each do |discography|
        .column.is-3
          .card
            .card-image
              %figure.image.is-square
                = link_to discography.event_link do
                  = image_tag "http://via.placeholder.com/300x300"
            = link_to discography.event_link do
              .card-content
                .media-content
                  %p.title.is-6
                    = discography.title_ja
                  %p.subtitle.is-7
                    = discography&.circle&.name_ja
            .card-footer
              .card-footer-item
                %nav.level.is-mobile
                  .level-left
                    %a.level-item
                      %span.icon.is-small
                        %i.far.fa-folder-open.has-text-dark
                    %a.level-item
                      %span.icon.is-small
                        %i.far.fa-star.has-text-dark
                    %a.level-item
                      %span.icon.is-small
                        %i.far.fa-heart.has-text-dark
