%nav.navbar.is-light
  .container.is-fluid
    .navbar-brand
      = link_to t('common.app_name'), root_path, { class: 'navbar-item has-text-dark' }
      .navbar-burger.burger{ data: { target: 'navbar-menu' } }
        %span
        %span
        %span
    #navbar-menu.navbar-menu
      .navbar-end
        - if current_user
          .navbar-item.has-dropdown.is-hoverable
            %a.navbar-link
              = image_tag profile_image
            .navbar-dropdown.is-right
              .navbar-item
                = "@#{current_user.name}"
              %hr.navbar-divider
              = link_to user_path(name: current_user.name), { class: 'navbar-item' } do
                %span.icon
                  %i.mdi.mdi-18px.mdi-account-circle
                %span
                  = t('.my_page')
              .navbar-item
                %span.icon
                  %i.mdi.mdi-18px.mdi-folder
                %span
                  = t('.collections')
              .navbar-item
                %span.icon
                  %i.mdi.mdi-18px.mdi-heart
                %span
                  = t('.favorite')
              .navbar-item
                %span.icon
                  %i.mdi.mdi-18px.mdi-library-music
                %span
                  = t('.list')
              %hr.navbar-divider
              .navbar-item
                %span.icon
                  %i.mdi.mdi-18px.mdi-settings
                %span
                  = t('.settings')
              %hr.navbar-divider
              = link_to logout_path, { method: 'delete', class: 'has-text-dark navbar-item' } do
                %span.icon
                  %i.mdi.mdi-18px.mdi-logout
                %span
                  = t('common.logout')
        - else
          .navbar-item
            = button_to auth_at_provider_path(provider: :twitter), { method: 'get', class: 'button is-info is-outlined' } do
              %span.icon.is-medium
                %i.mdi.mdi-18px.mdi-twitter
              %span
                = t('common.login')
