!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}/
    %title TouhouArrangementChronicle
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_pack_tag 'application'
  %body
    %header
      %nav.navbar.is-light
        .navbar-brand
          %span.navbar-item
            東方編曲録
        .navbar-end
          - if current_user
            %span.navbar-item
              = button_to 'ログアウト', logout_path, { method: 'delete', class: 'button is-outlined' }
          - else
            %span.navbar-item
              = button_to 'ユーザー登録', new_user_path, { method: 'get', class: 'button is-success is-outlined' }
            %span.navbar-item
              = link_to login_path, { method: 'get' } do
                %span
                  %i.fa.fa-user
                %span
                  ログイン
    %section.section
      = render 'shared/notification'
      .content
        = yield
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
    = yield :javascript
