!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}/
    %title= content_for?(:title) ? t('common.page_title', title: yield(:title)) : t('common.app_fullname')
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_pack_tag 'application'
  %body
    #main.content
      %section.section
        = yield
    %footer.footer
      = render 'layouts/footer'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
    = yield :javascript
